@import "../../common/colors.scss";
@media screen and (min-width:1200px){
.footer {
  background: $secondary-color;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-primary;
  flex-direction: column;
}
}


@media screen and (min-width:768px) and (max-width:1024px) {
  .footer {
    background: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
  }
}

