

@media screen and (min-width:1200px){
.favorite-movies h2{
color: aqua;
}
.favorite_movies_image{ 
	width: 17%;
	height: 100%;
}
}

@media screen  and (min-width:320px) and (max-width:765px){ 
	.favorite-movies h2{
		color: aqua;
		}
		.favorite_movies_image{ 
			width: 100%;
			height: 100%;
		}
}